.banner {
    margin-bottom: 40px;
    max-width: 200px;
    width: 100px;
}

main {
    width: calc(100% - 200px); /* Réduit la largeur totale de 200px pour les marges */
    max-width: 1240px;
    min-height: calc(100vh - 90px);
    margin: 0 auto; 
}

.photograph-header {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    justify-content: space-between;
    padding: 56px 50px;
}

.header-title {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    height: 83px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer-profile {
    display:flex;
    flex-direction: column;
}

/* Pour la ville */
.photograph-info p:nth-child(1) {
    margin: 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

/* Pour la tagline */
.photograph-info p:nth-child(2) {
    margin: 19px 0;
    color: #525252;
    font-size: 1.125em;
}

/* Pour le prix */
.photographer-footer {
    position: fixed;
    bottom: 0;
    right: calc((100% - 1240px) / 2 - 63px); /* Centre par rapport au conteneur principal et offset */
    z-index: 10;
    width: 376px;
}

/* Petit encart qui affiche le tarif journalier */
.photographer-footer p {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;
    padding: 21px 34px 21px 31px;
    border-radius: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.total-likes {
    display: inline-flex;
    gap: 10px;
}

.total-likes path{
    fill: var(--text-color);
}

.total-likes .heart-icon svg {
    padding-top: 2px;
}

/* Les réalisations */
.media_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 95px;
    padding: 20px 0;
    width: 100%;
    max-width: 1240px;
}

.media_section h2 {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 400;
    margin: 10px 0;
    height: 31px;
    max-width: 292px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media_section article {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.media_section img, 
.media_section video {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.likes-container {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    height: 31px;
}

.likes-container svg {
    cursor: pointer;
}

.likes-count {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-right: 5px;
    font-weight: 500;
    margin-bottom: 2px;
}

.heart-icon svg{
    width: 21px;
    height: 24px;
}

/* Style statique pour le bouton */
.contact_button {
    font-size: 18px;
    font-family: var(--font-family);
    color: #FFF;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
}

/* Style au survol et focus */
.contact_button.btn_bgcolor:hover,
.contact_button.btn_bgcolor:focus  {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-weight: 700;
}

.send_button {
    background-color:var(--primary-color);
}

.modal {
    border-radius: 5px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 38px;
    margin: 62px auto;
    max-width: 600px;
    width: 100%;
}

.modal header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 166px;
    margin-bottom: 20px;
}

.modal header h2 {
    font-size: 4em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin: 20px;
    margin-right: 0;
    padding: 0;
    width: 42px;
    height: 42px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Permet le scroll dans la modale */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    padding: 0 35px;
}

form label {
    color: var(--label-color);
    font-size: 2.25em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 98%;
    max-width: 600px;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.5em;
}

form textarea {
    height: 170px;
    width: 97%;
    max-width: 590px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.125em;
    border: none;
    resize: none;
}

/* Style de la notification */
.toast {
    font-size: 1.5em;
    font-weight: bold;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--toast-bg-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: fadein 1s ease-out, fadeout 1s ease-in 3s forwards;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 20%;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

/* La Lightbox */
.lightbox {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-lightbox);
    z-index: 1000;
    overflow: auto;
}

.lightbox-content {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 62px;
    width: 100%;
    max-width: 1050px;
}

.lightbox-media {
    width: 100%;
}

.lightbox img,
.lightbox video {
    width: 100%;
    max-width: 1050px;
    height: 900px;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 6px 0 4px rgba(196, 196, 196, 1);
    border-radius: 5px 0 0 5px;
    margin-top: 62px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lightbox-close {
    top: 124px;
    right: -86px;
    width: 72px;
    height: 72px;
    background-size: contain;
}

.lightbox-close svg {
    width: 42px;
    height: 42px;
}

.lightbox-close path {
    fill: var(--primary-color);
}

.lightbox-prev,
.lightbox-next {
    top: 50%;
    width: 96px;
    height: 96px;
    transform: translateY(-50%);
    fill: var(--primary-color);
    padding: 0;
}

.lightbox-prev {
    left: -102px;
}

.lightbox-next {
    right: -102px;
}

.media-content{
    margin: 0;
}

.media-title h2{
    position: absolute;
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 19px;
    margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

/* Menu déroulant de tri */
.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 10px;
    align-items: center;
    width: 260px;
}

.dropdown label {
    font-weight: bold;
    margin: 0;
}

.dropdown-toggle {
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    border: none;
    font-size: 1.125em;
    font-family: var(--font-family);
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box; /* Padding est inclus dans la largeur totale */
}

.dropdown-toggle .chevron {
    margin-left: 10px;
    transition: transform 0.3s;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    transform: rotate(180deg); /* Corrige l'orientation initiale du chevron */
}

.dropdown-toggle[aria-expanded="true"] .chevron {
    transform: rotate(0deg);
}

.dropdown-toggle.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: auto;
    border-radius: 0 0 5px 5px;
    top: calc(100% + 0px); /* Positionne le menu juste en dessous du bouton */
    left: 5.435em; /* Aligne à gauche avec le bouton */
    text-align: left;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.dropdown-menu li {
    padding: 16px 20px;
    cursor: pointer;
    font-size: 1.125em;
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
}

.dropdown-menu li::before,
.dropdown-menu li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: var(--main-bg-color);
    border-top: 1px solid #E3C6C6;
}

.dropdown-toggle.open:hover,
.dropdown-menu li:hover,
.dropdown-menu li[aria-selected="true"] {
    background-color: var(--hover-color);
}

/* Affichage du menu lorsqu'il est ouvert */
.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    display: block;
}

.liked {
    opacity: 0.5; /* Ajoute un éclaircissement au coeur liké*/
}
