@import url("photographer.css");

html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 90px);
    width: calc(100% - 200px);
    max-width: 1240px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    margin-top: 44px;
    font-size: 36px;
    font-weight: 400;
    height: 47px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 42px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 218px;
    row-gap: 80px;
    margin-top: 90px;
    margin-bottom: 119px;
    justify-content: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
    width: 303px;
    text-align: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.photographer-info p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pour la ville */
.photographer-info p:nth-child(1) {
    margin: 0;
    font-size: 14px;
    color:#901C1C;
}

/* Pour la tagline */
.photographer-info p:nth-child(2) {
    margin: 3px 0;
    color: #000;
    font-size: 11px;
}

/* Pour le prix */
.photographer-info p:nth-child(3) {
    margin: 3px 0;
    color: #525252;
    font-size: 11px; 
}

.error-message {
    font-size: 30px;
    color: #e31515;
    text-align: center;
    padding: 10px;
    margin: 20% 0;
    display: none; /* Masqué par défaut si requête réussie */
}