/* Import the normalize CSS */
@import url("normalize.css");

@import url("photographer.css");

:root {
    --main-bg-color: #FAFAFA;
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --tertiary-color: #DB8876;
    --bg-lightbox: #FFF;
    --hover-color: #821919;
    --text-color: #000;
    --error-color: #E31515;
    --price-color: #525252;
    --label-color: #312E2E;
    --toast-bg-color: #4CAF50;
    --font-family: "DM Sans", sans-serif;
    --font-size-default: 16px;
}

html{
    font-size: var(--font-size-default);
}

html, 
body {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 90px);
    width: calc(100% - 200px);
    max-width: 1240px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
    margin-top: 44px;
    font-size: 2.25em;
    font-weight: 400;
    height: 47px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 42px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 218px;
    row-gap: 78px;
    margin-top: 90px;
    margin-bottom: 119px;
    justify-content: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 2.25em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
    width: 303px;
    text-align: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.photographer-info p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pour la ville */
.photographer-info p:nth-child(1) {
    margin: 0;
    font-size: 0.875em;
    color:var(--primary-color);
}

/* Pour la tagline */
.photographer-info p:nth-child(2) {
    margin: 3px 0;
    color: var(--text-color);
    font-size: 0.688em;
}

/* Pour le prix */
.photographer-info p:nth-child(3) {
    margin: 3px 0;
    color: var(--price-color);
    font-size: 0.688em; 
}

.error-message {
    font-size: 1.875em;
    color: var(--error-color);
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 1200px;
    justify-content: center;
    top: 60%;
    left: 9%;
    display: none; /* Masqué par défaut si requête réussie */
}